.chart-bar {
    -fx-bar-fill: #0c694d;

}

.loginpassword{
    -fx-background-radius: 10;
    -fx-font: 10 "Offside";
}


 li {
     display: inline;
 }
table.a {
    table-layout: auto;
    width: 180px;
}

table.b {
    table-layout: fixed;
    width: 180px;
}